*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: 'Cinzel Decorative', cursive;
}
:root{
    --mygreen: rgb(4, 31, 4);
    --myplum: plum;
    --secondplum: rgb(184, 131, 184);
    --opacityplum: rgba(221, 160, 221, 0.6);

}

header{
    background-image: url(https://i.pinimg.com/originals/9f/42/53/9f42530c25a1c3497769ed70f3d49bf6.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
}


body{
    background-color:var(--mygreen);
}

/* logo drop down & style */
.logo{
    border-radius: 90px;
    width: 7rem;
    padding: 5px;
}

.dropdownHover{
    position: relative;
    display: inline-block;
    position: fixed;
}

.content{
    z-index: 1;
    display: none;
    position: absolute;
    text-decoration: none;

}

li{
    list-style: none;
    padding: 5px;
}
.dropdownHover:hover .content{
    display: block;
}

/* footer*/
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--opacityplum);
    text-align: center;
  }

/* About style */
.About{
    background-color: var(--opacityplum);
    border-radius: 50px;
    text-align: center;
    padding: 10px;
    width: 30rem;
    margin-left: auto;
    margin-right: 20px;
}

/* Admin CSS */
/* Sort button dropdown */
.sortby {
    position: relative;
    display: inline-block;
    background-color: var(--myplum);
    margin: 0 5px;
    padding: 5px;
    border-radius: 10px;
  }
  
  .filters{
    display: none;
    position: relative;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    background-color: var(--mygreen);
    border-radius: 10px;
  }
  
  .sortby:hover .filters{
    display: block;
  }

  .sortby:hover{
    background-color: var(--secondplum);
  }
/* Table */
tbody{
    background-image: url(https://pbs.twimg.com/media/Eu2Ys4CXMAAfISc.jpg);
    background-size: cover;
}
button{
    background-color: black;
    border-radius: 10px;
}

/* responsiveness */
@media screen and (max-width: 300px) {
    * {
        width: 100%;
    }
    
}